body{
    background-color: aqua;
}

.one{
        height: 300px;
        width: 300px;
        background-color: blueviolet;
        margin:10% auto 0;  
        position: relative;
        perspective: 1000px;
}
.two{
    height: 250px;
    width: 250px;
    background-color: bisque;
    position: absolute;
    left: 40%;
    top: 50%;
    margin: -124px 0 0 -124px;
    transform: translateZ(50px);
}